@import "../lib/bootstrap/scss/bootstrap";

@media print {
    @page {
        size: auto;
        font-size: 10px;
    }

    html, body {
        height: 100%;
    }
}

.cursor-grab {
    &:hover {
        cursor: grab;
    }

    &.grabbing {
        cursor: grabbing;
    }
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.hidden {
    display: none;
}

//Drawing Canvas
canvas {
    position: absolute;
}

.editorContainer, .displayContainer {
    border: 3px solid gray;
    height: 80vh;
    overflow: hidden;

    > .CanvasContainer {
        padding: 0;
        width: 100%;
    }

    #ImageDiv {
        width: 20%;
        border-left: 3px solid gray;
        height: 100%;
        overflow-y: scroll;
        padding: 0;
    }
}

.displayContainer {
    height: initial;

    > .CanvasContainer {
        width: 100%;
    }
}

//Tool Bar
.drawingToolbar {
    input[type="range"] {
        margin-top: 15px;
        height: 10px;
    }

    .controlLabel {
        font-size: 1.05em;
        padding: calc(1px + 0.37rem) 5px calc(1px + 0.37rem) 15px;
    }

    .separator {
        width: 1px;
        background-color: lightgray;
        border: 1px inset lightgray;
        display: inline-block;
        margin: 4px 0;
    }
}


.imageDropdown {
    display: inline-block;
    padding-top: .75%;
    padding-left: .25em;
    padding-right: .25em;

    > div {
        background-color: aliceblue;
        height: 22px;
        border: 1px solid black;
        background-repeat: no-repeat;
        background-position: right;
        margin: 0;
        padding: 0;
        cursor: pointer;
        align-content: center;
        overflow: hidden;

        > div {
            width: 80%;
            overflow: hidden;
            padding-left: .15em;
            float: left;
        }

        > i {
            float: right;
            font-size: 1.2em;
            overflow: hidden;
            color: black;
        }
    }

    > ul {
        background-color: white;
        border: 1px solid black;
        border-top: none;
        margin: 0;
        padding: 0;
        position: absolute;
        list-style: none;
        z-index: 1000;
        overflow: hidden;

        > li.vertical {
            border-top: 1px solid gray;
            height: 22px;

            &:hover {
                background-color: lightblue;
                cursor: pointer;
            }
        }

        > li.horizontal {
            display: flex;
            float: left;
            padding: 1.5px;
            margin: 2px;
            border: 1px outset lightgray;
            border-radius: 2px;

            &:hover {
                background-color: lightblue;
                cursor: pointer;
            }
        }
    }
}