@page
@model FabricJSDrawingWalkthrough.DrawingModel
@{
    ViewData["Title"] = "Drawing";
}

<h1>Make a Drawing!</h1>

<div class="row editorContainer">
    <div class="CanvasContainer">
        <div id="canvas"></div>
    </div>
</div>
<div class="row notificationBar noPrint">
    <div class="col">
        <div id="StatusBar" class="float-right"></div>
    </div>
</div>

@section Scripts{
    <script src="~/lib/fabric.js/fabric.min.js"></script>
    <script src="~/js/drawingEditor.js" asp-append-version="true"></script>
    <script>
        $(function () {
            //Calculate canvas height as a function of the window size.
            var canvasHeight = (window.innerHeight - $('#canvas').offset().top) * .9;
            var canvasWidth = $('#canvas').width();

            //Instantiate our new drawer
            //The canvas is created inside this constructor, using the selector passed.
            var editor = new DrawingEditor('canvas', canvasHeight, canvasWidth);
        });
    </script>
}